<section id="leadapp">
    <div ng-controller="LeadForm">
        <h3>JFokus 2015 Contest</h3>
        <div class="messages alert {{messageClass}}" ng-show="messagesShow" data-ng-bind="messages"></div>
        <form name="leadForm" novalidate class="css-form">
            <div class="form-group has-feedback" ng-class="{'has-error': leadForm.name.$invalid && !leadForm.name.$pristine}">
                <label>Name</label>
                <input type="text" class="form-control {}" name="name" ng-model="user.name" required placeholder="Required" autocomplete="off" />
                <!-- <span ng-show="leadForm.name.$invalid && !leadForm.name.$pristine" class="help-block">You name is required.</span> -->
            </div>

            <div class="form-group has-feedback" ng-class="{'has-error': leadForm.email.$invalid && !leadForm.email.$pristine}">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="user.email" required placeholder="Required" autocomplete="off" />
                <!-- <span ng-show="leadForm.email.$invalid && !leadForm.email.$pristine" class="help-block">Enter a valid email.</span> -->
            </div>

            <div class="form-group has-feedback">
                <label>Company</label>
                <input type="text" class="form-control" ng-model="user.company" autocomplete="off" />
            </div>

            <div class="form-group has-feedback">
                <label>Job Title</label>
                <input type="text" class="form-control" ng-model="user.job" autocomplete="off" />
            </div>

            <span>{{question.question}}</span>
            <div class="radio" ng-repeat="(key, value) in question.answers">
              <label><input type="radio" name="answer" ng-model="user.answer" value="{{question.id}}:{{key}}" ng-required="true" />{{value}}</label>
            </div>

            <br/>
            <input type="submit" class="btn btn-primary btn-block btn-lg" ng-click="register(user)" value="Register" />
            <input type="button" class="btn btn-danger btn-block btn-lg" ng-click="reset()" value="Reset" />
        </form>
        <br>
    </div>
</section>
