<fhheader title="FeedHenry" subtext="QuickStart"></fhheader>

<section id="leadapp">
    <div ng-controller="SubmitForm">
        <h3>JFokus Contest</h3>

        <div id="messages" class="alert {{messageClass}}" data-ng-show="messages" data-ng-bind="messages"></div>

        <form novalidate class="css-form" novalidate>
            Name: <input type="text" class="form-control" ng-model="user.name">
            Email: <input type="text" class="form-control" ng-model="user.email" required />
            Company: <input type="text" class="form-control" ng-model="user.company">
            Job Title: <input type="text" class="form-control" ng-model="user.job">
            <br/>
            <span>{{question.question}}</span>
            <div class="radio" ng-repeat="(key, value) in question.answers">
              <label><input type="radio" ng-model="user.answer" value="{{question.id}}:{{key}}"/>{{value}}</label>
            </div>
            <br/>
            <input type="button" ng-click="reset()" value="Reset" />
            <input type="submit" ng-click="update(user)" value="Register" />
        </form>
        <br>
    </div>
</section>

<fhfooter></fhfooter>